<a href="https://colab.research.google.com/github/umas-iit/workshop/blob/master/Python_VariablesPractice_S2_210621_S1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<!--NAVIGATION-->
### **Python - Variables Practice Session-S2 : Save a Copy in local drive and Work**

## Section : Creating different types of Data Structure (variables) and  perform operations

**Python - Variables Practice Session-S1 : Save a Copy in local drive and Work**

* To create a variable in Python, all you need to do is specify the variable name, and then assign a value to it.
* Python uses = to assign values to variables. There's no need to declare a variable in advance (or to assign a data type to it), assigning a value to a variable itself declares and initializes the variable with that value. 
 There's no way to declare a variable without assigning it an initial value.  

### Rules for variable naming:
* Variables names must start with a letter or an underscore.
* The remainder of your variable name may consist of letters, numbers and underscores.
* Names are case sensitive.

#####  Even though there's no need to specify a data type when declaring a variable in Python 
##### while allocating the necessary area in memory for the variable, the Python interpreter automatically picks the most suitable built-in type for it:

In [ ]:
# Integer
a=2 
print(a)

# Integer
b = 9223372036854775807 
print(b)

# Floating point
pi = 3.14 
print(pi)

# String
c = 'A' 
print(c)

# String
name = 'Krishna' 
print(name)
# Boolean
q = True 
print(q)
# Output: True
# Empty value or null data type
x = None 
print(x)
# Output: None

In [ ]:
has_0_in_it = "Still Valid" 
x = True 
x = False 
y = False 
print(y)

x=9
y = x*5
print(y)

In [ ]:

a=2
print(type(a))

b = 9223372036854775807 
print(type(b))

pi = 3.14 
print(type(pi))

c = 'A'
print(type(c))

name = 'Raman' 
print(type(name))

q = True 
print(type(q))

In [ ]:
a, b, c = 1, 2, "Krihsna" 
print(a, b, c)

a, b, c = 1, 2,8
a, b,c = 1, 2, 3

print(a, b, c)

a, b, _ = 1, 2, 3 
print(a, b)

a=b=c=1
print(a, b, c)
b = 2 # b now refers to another int object, one with a value of 2 print(a, b, c)

1 2 Krihsna
1 2 3
1 2
1 1 1

In [ ]:
x = y = (7, 8, 9)
x = [13, 8, 9] 
print(x)
print(y)

[13, 8, 9]
(7, 8, 9)

* x and y refer to the same list object just created, [7, 8, 9]
* x now refers to a different list object just created, [13, 8, 9]
* y still refers to the list it was first assigned

In [ ]:
x = y = [[7, 8, 9] ,10, 12]
x[0] = 13
print(y)

[13, 10, 12]



* x and y are two different names for the same list object just created, [7,
* we are updating the value of the list [7, 8, 9] through one of its names, x
* printing the value of the list using its other name
* Output: [13, 8, 9]  # hence, naturally the change is reflected

**Nested lists** are also valid in python. This means that a list can contain another list as an element.
* variables in Python do not have to stay the same type as which they were first defined -- you can simply use = to assign a new value to a variable, even if that value is of a different type.

In [ ]:
a = b = c = 1 # all three names a, b and c refer to same int object with value 1 print(a, b, c)

b = 2 # b now refers to another int object, one with a value of 2 print(a, b, c)

x = y = [7, 8, 9]
x = [13, 8, 9] 
print(y)
print(x)

[7, 8, 9]
[13, 8, 9]

* x and y refer to the same list object just created, [7, 8, 9]
* x now refers to a different list object just created, [13, 8, 9]
* y still refers to the list it was first assigned

In [ ]:
x = y = [[7, 8, 9], 8, 9]
x[0] = 13
print(y)

x = [1, 2, [3, 4, 5], 6, 7] # this is nested list print x[2]
print (x[2][1])

[13, 8, 9]
4

* x and y are two different names for the same list object just created, [7,
* we are updating the value of the list [7, 8, 9] through one of its names, x
* printing the value of the list using its other name
* Output: [13, 8, 9]  # hence, naturally the change is reflected

In [ ]:
a=2 
print(a)

a = "New value" 
print(a)

2
New value

## Section : Block Indentation.
Python uses indentation to define control and loop constructs. This contributes to Python's readability,

In [ ]:
# This is a function definition. Note the colon (:)
# This line belongs to the function because it's indented
# This line also belongs to the same function
a = 5 
def my_function(): 
     a = 2
     return a

print(my_function()) # This line is OUTSIDE the function block
print (a)

2
5

In [ ]:
# If block starts here
# This is part of the if block
# else must be at the same level as if
# This line is part of the else block

a=10
b=4
if a > b: print(a)
else: print(b)

10

In [ ]:
x=5
y=2
if x > y: 
  y = x
  print(y)
if x > y: 
  while y != z: 
    y -= 1

5

## Sequences and collections

## Tuple: An ordered collection of n values of any type (n >= 0).
Supports indexing; immutable; hashable if all its members are hashable

In [ ]:
a = (1, 2, 3)
b = ('a', 1, 'python', (1, 2))
b[2] = 'something else'        
print(b)

TypeError: ignored

## List: An ordered collection of n values (n >= 0)

In [ ]:
a = [1, 2, 3]
b = ['a', 1, 'python', (1, 2)] 
b[2] = 'something else' # allowed
print(b)

['a', 1, 'something else', (1, 2)]

## Set: An unordered collection of unique values. Items must be hashable.

In [ ]:
a = {1, 2, 'a'}
print(a)

{1, 2, 'a'}

## Dictionary : An unordered collection of unique key-value pairs; keys must be hashable.

In [ ]:
a = {1: 'one',
     2: 'two'}
print(a)
b = {'a': [1, 2, 3],
     'b': 'a string'}
print(b)

{1: 'one', 2: 'two'}
{'a': [1, 2, 3], 'b': 'a string'}

### Converting between datatypes

In [ ]:
#a = '123.456'
a = 123.456
b = float(a)
# c = int(a)     # ValueError: invalid literal for int() with base 10: '123.456' d = int(b)
c = int(a)
a = 'hello'
b= list(a) # ['h', 'e', 'l', 'l', 'o'] 
print(b)
c= set(a) # {'o', 'e', 'l', 'h'} 
print(c)
d=tuple(a) # ('h', 'e', 'l', 'l', 'o')
print(d)

['h', 'e', 'l', 'l', 'o']
{'h', 'o', 'e', 'l'}
('h', 'e', 'l', 'l', 'o')

## What are Mutable and Immutable Data Types?
An object is called mutable if it can be changed. For example, when you pass a list to some function, the list can be changed.

* Int, Str, Float, tuple are immutable objects
* List, Dictionary,Set  are mutable objects

In [ ]:
def f(m):
     m.append(3)      # adds a number to the list. This is a mutation.
     return m

x = [1, 2]
b=f(x)
print(b)

x == [1, 2]        # False now, since an item was added to the list

[1, 2, 3]

False

In [ ]:
def f(m):
     m.append(3)      # adds a number to the list. This is a mutation.
     return m

x = (1, 2)
b=f(x)
print(b)

AttributeError: ignored

## What are diffrent types of Lists?

In [ ]:
empty_list = []      #  list can be empty
mixed_list = [1, 'abc', True, 2.34, None]   # heterogenous list 
nested_list = [['a', 'b', 'c'], [1, 2, 3]]     # nested list 

# Lists in Python are zero-indexed meaning that the first element in the list is at index 0

print(nested_list[-1])
mixed_list.append("stART")
mixed_list.insert(3, "Test")
print(mixed_list)
mixed_list.count(1)
nested_list.reverse()

print(mixed_list)
mixed_list[::-1]  # slicing 
print(mixed_list)
nested_list.pop()

[1, 2, 3]
[1, 'abc', True, 'Test', 2.34, None, 'stART']
[1, 'abc', True, 'Test', 2.34, None, 'stART']
[1, 'abc', True, 'Test', 2.34, None, 'stART']

['a', 'b', 'c']

###  What are diferent List functions?

## How to Use Lists as Stacks?

The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index.

In [ ]:
stk = [3, 4, 5]
stk.append(6)
stk.append(7)
stk.pop()
stk.pop()

for element in stk : 
   print (element)

3
4
5

###  What is the diff between tuple and List ? what are its uses?
* Values in the tuple cannot be changed nor the values be added to or removed from the tuple.
* Tuples are commonly used for small collections of values that will not need to change, such as an IP address and port

In [ ]:
one_member_tuple = ('Only member',)
one_member_tuple = 'Only member',

print(one_member_tuple)

In [ ]:
def f(m):   # adds a number to the list. This is a mutation.
     return m

x = (1, 2)        
f(x)
x == (1, 2) # Will always be True, since no function can change the object (1, 2)

True

## How to use Lists as Queues? What are Queue methods?

In [ ]:
from collections import deque

queue = deque(["India", "Japan", "America"])
queue.append("Singapore")           # Singapore arrives
queue.append("UK")          # UK arrives
queue.popleft()                 # The first to arrive now leaves
queue.popleft()                 # The second to arrive now leaves                  
print(queue)           # Remaining queue in order of arrival
deque(['India', 'Singapore', 'Japan'])
print(deque)

deque(['America', 'Singapore', 'UK'])
<class 'collections.deque'>

## What is List comprehensions?
List comprehensions provide a concise way to create lists. 
Common applications : 
* make new lists where each element is the result of some operations applied to each member of another sequence or iterable
* create a subsequence of those elements that satisfy a certain condition.
* **Benefit:**  list comprehensions can also be used for mapping and filtering.

In [ ]:
squares = []
for x in range(10):
     squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares1 = [x**2 for x in range(10)]      # list comprehension
print(squares1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares2 = [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]       # list comprehension
print(squares2)

square2 = []
for x in [1,2,3]:
    for y in [3,1,4]:
      if x != y:   
         square2.append((x, y))
print(square2)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
square3 = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
square3 = [x*2 for x in square3]
print(square3)

[-8, -4, 0, 4, 8]

In [ ]:
square4 = [8.6, -6, 4, 2.3, 4]
square4 = [abs(x) for x in square4]          # apply a function to all the elements
print(square4)

[8.6, 6, 4, 2.3, 4]

## What are Nested List Comprehensions? What are its uses?

In [ ]:
matrix = [
 [1, 2, 3, 4],
 [5, 6, 7, 8],
 [9, 10, 11, 12],
]

matrix1 = [[row[i] for row in matrix] for i in range(4)]      #  option
print(matrix1)

transposed = []
for i in range(4):
  transposed.append([row[i] for row in matrix])
print(transposed)                                                # Option

print(list(zip(*matrix)))       # use Zip                         # option - prefer built-in functions to complex flow statements.

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## How do we do indexing and slicing operations in strings and Lists work ?

In [ ]:
a = ['hubli', 'dharwad', 'goa', 'belguam', 'pune', 'mumbai']

print(a[-2])
print(a[5])
print(a[-len(a)])
print(a[2:5])
print(a[-5:-2])
a[-5:-2] == a[1:4]
print(a[:4])      # ommiting 
print(a[2:])
print(a == a[:])
print(a is a[:])

print(a[0:6:2])      # stride

print(a[::-1])

pune
mumbai
hubli
['goa', 'belguam', 'pune']
['dharwad', 'goa', 'belguam']
['hubli', 'dharwad', 'goa', 'belguam']
['goa', 'belguam', 'pune', 'mumbai']
True
False
['hubli', 'goa', 'pune']
['mumbai', 'pune', 'belguam', 'goa', 'dharwad', 'hubli']

## What is a tuple, tuple properties, sequence unpacking, tuple packing ?
* immutable
* contains heterogenous elements

In [ ]:
# t = [12345, 54321, 'welcome']      # Tuples are immutable, and usually contain a heterogeneous sequence of elements 
t = 12345, 54321, 'welcome'           # tuple packing 
print(t[0])
print(t)
u = t, (1, 2, 3, 4, 5)      # Tuples may be nested:
print(u)
#t[0] = 88888              # Tuples are immutable:
x, y, z = t                 # Sequence unpacking 
print(t)

## Set : A set is an unordered collection with no duplicate elements.

# set
* A set is a collection of elements with no repeats and without insertion order but sorted order. They are used in situations where it is only important that some things are grouped together, and not what order they were included. 
* For large groups of data, it is much faster to check whether or not an element is in a set than it is to do the same for a list.
Defining a set is very similar to defining a dictionary

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

my_list = [1,2,3]
my_set = set(my_list)
print(my_set)

a = set('Temple')
b = set('Good')

# set operations 
print(a )                                 # unique letters in a
print(a - b)                              # letters in a but not in b
print(a | b )                             # letters in a or b or both
print(a & b )                             # letters in both a and b
print(a ^ b )                             # letters in a or b but not both

a = {x for x in 'abracadabra' if x not in 'abc'}     # list comprehensions

{'banana', 'pear', 'apple', 'orange'}
{1, 2, 3}
{'l', 'T', 'e', 'p', 'm'}
{'l', 'T', 'e', 'p', 'm'}
{'o', 'l', 'e', 'p', 'd', 'G', 'm', 'T'}
set()
{'l', 'd', 'G', 'T', 'o', 'e', 'p', 'm'}

## What are uses of Dictionaries ?  also called as “associative memories” or “associative arrays”

In [ ]:
dict([('Krishna', 4139), ('kaveri', 4127), ('Ganga', 4098)])

In [ ]:
dict([('Krishna', 4139), ('kaveri', 4127), ('Ganga', 4098)])

{'Ganga': 4098, 'Krishna': 4139, 'kaveri': 4127}

In [ ]:
{x: x**2 for x in (2, 4, 6)}         # create dictionary using comprehension 

dict(krishna=4139, kaveri=4127, Ganga=4098)

{'Ganga': 4098, 'kaveri': 4127, 'krishna': 4139}

## Dictionaries : Loop

In [ ]:
knights = {'Simple': 'program', 'Complex': 'algorithm'}
for k, v in knights.items():
      print(k, v)

Simple program
Complex algorithm

In [ ]:
questions = ['name', 'quest', 'favorite color']   # To loop over more sequences , the entries can be paired with the zip() function.
answers = ['Baby', 'run around the court', 'blue']

for q, a in zip(questions, answers):
      print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is Baby.
What is your quest?  It is run around the court.
What is your favorite color?  It is blue.

When looping through a sequence, use the position index and corresponding value to retrieve the items  using the enumerate() function.

In [ ]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

for i in sorted(basket):
    print(i)

0 tic
1 tac
2 toe
apple
banana
orange
pear